nav {
  background: #df4324;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
nav .nav-item > a {
  color: #fff !important;
}
nav .dropdown-toggle::after {
  display: none !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #d94528;
}
