footer {
  background: #df4324;
  color: #fff;
}
footer svg {
  font-size: 23px !important;
}

footer a {
  color: #fff;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #d1d1d1;
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}
footer ul li a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

footer h3 {
  text-transform: uppercase;
  font-size: 21px;
}

footer p {
  color: #d1d1d1;
}
